@page
@model assignment4.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "delete "+ Model.Employee.FirstName + " " + Model.Employee.LastName;
}

<h3>Are you sure you want to @ViewBag.title?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TitleOfCourtesy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TitleOfCourtesy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
