@page
@model assignment4.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = Model.Employee.FirstName+" "+Model.Employee.LastName;
}

<h1>@ViewBag.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Notes)
        </dd>
       
        <dt class="col-sm-2">
            Reports To
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ReportsTO
        </dd>
    </dl>
    <img src="~/img/@Model.Employee.PhotoPath" alt="@Model.Employee.PhotoPath" width="480" height="590" />
</div>
<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee?.EmployeeId" class="btn btn-primary">Edit</a> 
    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@Model.Employee?.EmployeeId">Delete</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
